.cookieBar{
	position:fixed;
	bottom:0;
	background:#f5f5f5;
	left:0;
	right:0;
	z-index:1000000;
	max-height:100vh;
	overflow-y:auto;
	-webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.5);
}
.cookieBar .barMore,.cookieBar .bar{
	text-align:center;position:relative
}
.cookieBar	.barMore{
	display:none;
	text-align:center;
	margin-top:27px;
	padding:15px 0;
	border-top: 1px solid #ccc;
}
.cookieBar .title{
	text-align:center;font-weight:bold;font-size:26px
}
.cookieBar .barMore .settings .cookie-info	p{
	font-size:12px;
}
.cookieBar .barMore .settings .cookie-info{
	text-align:justify;margin:0 15px
}
.cookieBar .button-more{
	margin-left:0px;font-size:12px;color:#555;
}
.cookieBar .button-close{
	position:absolute;top:0px;right:15px;
}
.cookieBar .bar .infotext {
	font-size:15px;
}
.cookieBar .settings {
	max-width: 900px;
}